<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<title>{{.Title}}</title>
<link rel="shortcut icon" href="/static/cui/img/favicon{% if DEBUG %}_debug{% endif %}.ico">


  <link rel="stylesheet" href="/static/cui/vendor/normalize.css"/>
  <!--link rel="stylesheet" href="static/cui/css/cui.scss" type="text/x-scss"/-->
  <link rel="stylesheet" href="/static/cui/css/cui_css.css"/>
  
  <link rel="stylesheet" href="/static/cui/vendor/jquery/jquery.jqModal.css"/>
  <link rel="stylesheet" href="/static/cui/vendor/introjs_fork/introjs.css">



  <script src="/static/cui/vendor/jquery/jquery-1.10.2.js"></script>
  <script src="/static/cui/vendor/jquery/jquery-migrate-1.2.1.js"></script>

  <script src="/static/cui/vendor/jquery/jquery.jqModal.js"></script>
  <script src="/static/cui/vendor/jquery/jquery.transform2d.js"></script>

  <script src="/static/cui/vendor/webfont/webfont.js"></script>

  <script src="/static/cui/vendor/introjs_fork/intro.js"></script>

<script src="/static/cui/vendor/ace-src-noconflict/ace.js"></script>
<script src="/static/cui/vendor/ace-src-noconflict/ext-language_tools.js"></script>



  <script src="/static/cui/js/console.js"></script>
  <script src="/static/cui/js/diff.js"></script>
  <script src="/static/cui/js/testcases.js"></script>
  <script src="/static/cui/js/help.js"></script>
  <script src="/static/cui/js/editor.js"></script>
  <script src="/static/cui/js/candidate_ui.js"></script>
  <script src="/static/cui/js/clock.js"></script>
  <script src="/static/cui/js/tracker.js"></script>
  <script src="/static/cui/js/utils.js"></script>
  <script src="/static/cui/js/survey.js"></script>
  <script src="/static/cui/js/diff_engine.js"></script>
  <script src="/static/cui/js/chat.js"></script>
  <script src="/static/cui/vendor/sinon/sinon-1.10.2.js"></script>
  <script src="/static/cui/js/test-server.js"></script>
  <script src="/static/cui/js/local-server.js"></script>




  <script>
    WebFont.load({
        google: {
            families: ['Droid Sans Mono']
        }
    });
  </script>



  <script src="/static/cui/js/devel-log.js"></script>
  <script>
    var Log = DevelLog;
  </script>

</head>

<body>

<div id="page">

    <input type="hidden" name="ticket" value="{{.Ticket.Id}}" />

    <div id="header">
      <div class="top-bar three-columns">
        <div class="passcode">{{ .Ticket.Id }}</div>
          <div class="logos">
            <a class="test-logo" target="_blank" href="https://github.com/maddyonline/goonj"><span>GOONJ</span></a>
          </div>
        
        <div>
          <span id="clock">0:00:00</span>
        </div>
      </div><!-- .top-bar -->
      <div class="settings-bar tab-columns">
        <div>
          <span id="human_lang_list">
            Language &nbsp;
            <select name="current_human_lang" id="current_human_lang"></select>
          </span>
        </div>

        <div>
          <ul class="task-list current_task_select" style="display: none">
          </ul>
        </div>

        <div>
          <span id="prg_lang_list">
            Programming language &nbsp;
            <select name="current_prg_lang" id="current_prg_lang"></select>
          </span>
        </div>
      </div><!-- .settings-bar -->
    </div><!-- #header -->

    <div id="content">
      <div id="overlay" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 9996; background-color: #000000; display:none"></div>

      <div id="task"><div>
        <div id="task_description">
          <div class="placeholder">
            <span>
              The problem description<br>
              will appear here<br>
              after you start the test.
            </span>
          </div>
        </div>
        <div class="under-task">
          <div id="verification_results">
            <input id="example_input" type="hidden" name="test_case_example" value="" />

            <div id="add_test_case">
              <a id="test_case_link" href="#" style="text-decoration:none">
                <img id="test_case_img" src="/static/cui/img/zoom_in.png" alt="+" align="absmiddle" border="0"/>
                <span style="font-size:120%;font-weight:bold;background:#c5c5c5;padding:1px 6px">add your test case(s)</span>
              </a>
            </div>
            <div id="test_cases"></div>
          </div>
        </div>
      </div></div><!-- #task -->

      <div id="rightColumn"><div>
        <div id="edit">
          <textarea name="solution" id="solution" ></textarea>
        </div>
        <input type="button" id="reset_btn" value=" Reset code " style="display:none" disabled="disabled" />
        <div class="under-edit">
          <div id="editor_bar" class="three-columns">
            <div id="prg_lang_ver">Language Version</div>
            <div id="save_status"></div>
            <div>
              <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts" target="_blank">Keyboard shortcuts</a>
            </div>
          </div>

          <div>
            <div id="buttons" class="buttons-toolbar" style="text-align:center">
              <input type="button" id="help_btn" value=" HELP " />
              <input type="button" id="verify_button" value=" RUN " disabled="disabled" />
              <input type="button" id="final_button" value=" SUBMIT THIS TASK " disabled="disabled"/>
              <input type="button" id="quit_button" value=" QUIT " />
            </div>
            <input type="button" id="resize_console_button" value="↑"/>
          </div>

          <div id="console"></div>
        </div><!-- .under-edit -->
      </div></div><!-- #rightColumn -->

      <script>

        ////////////////////INITIALIZATION////////////////////////
       
      $(document).ready(function() {
            var local_ui_options =     {
        ticket_id: {{ .Ticket.Id }},

        time_elapsed_sec: 15,
        time_remaining_sec: 1800,

        current_human_lang: "en",
        current_prg_lang: "c",
        current_task_name: "task1",

        task_names: ["task1", "task2", "task3"],

        human_langs: {
            "en": {"name_in_itself": "English"},
            "cn": {"name_in_itself": "\u4e2d\u6587"},
        },
        prg_langs: {
            "c": {"version": "C", "name": "C"},
            "sql": {"version": "SQL", "name": "SQL"},
            "cpp": {"version": "C++", "name": "C++"},
        },

        show_survey: true,
        show_help: false,
        show_welcome: true,
        sequential: false,
        save_often: true,

        urls: {
            "status": "/chk/status/",
            "get_task": "/c/_get_task/",
            "submit_survey": "/surveys/_ajax_submit_candidate_survey/TICKET_ID/",
            "clock": "/chk/clock/",
            "close": "/c/close/TICKET_ID",
            "verify": "/chk/verify/",
            "save": "/chk/save/",
            "timeout_action": "/chk/timeout_action/",
            "final": "/chk/final/",
            "start_ticket": "/c/_start/"
        },
    };
            //window.server = LocalServer();
            //server.init();
            window.ui = CandidateUi(local_ui_options);
            ui.init();
            ui.exit = function(url) {
              window.alert("CUI exiting; next page would be '"+ url +"'. \n\n" +
                           "Press OK to refresh.");
              window.location = ".";
            };
          });   

      </script>
    </div><!-- #content -->

  <div id="quit_prompt" style="display:none"  class="jqmWindow" >
    <div class="message">Are you sure that you want to quit?</div>

    <div class='dialog_buttons'>
        <input type="button" value="yes" class='yes' id="q_yes"/>
        <input type="button" value="no" class='no jqmClose'/>
    </div>
</div>

<div id="final_prompt" style="display:none"  class="jqmWindow" >
    <div class="message">
      You can't modify your solution after you submit it.<br/>
      Are you sure that your solution is ready?<br/>
    </div>

    <div class='dialog_buttons'>
        <input type="button" value="yes" class='yes' id="fp_yes"/>
        <input type="button" value="no" class='no jqmClose'/>
    </div>
</div>

<div id="bugfix_no_changes" style="display:none"  class="jqmWindow" >
    <div class="message">
      <b>You haven't changed anything in the solution!</b><br/>
      Are you sure you want to submit it?<br/>
    </div>

    <div class='dialog_buttons'>
        <input type="button" value="yes" class='yes' id="bugfix_yes"/>
        <input type="button" value="no" class='no jqmClose'/>
    </div>
</div>

<div id="final_verification" style="display:none" class="jqmWindow" >
    <div class="message">?</div>
    <div id="fv_loader">
        <img src="/static/cui/img/ajax-loader-tr.gif" alt="*">
    </div>

    <div class='dialog_buttons' style="display:none">
        <input type="button" value="yes" class='yes' id="fv_yes"/>
        <input type="button" value="no" class='no jqmClose'/>
    </div>

</div>

<div id="force_close_prompt" style="display:none"  class="jqmWindow" >
    <div class="message">
      Forcing the closure of the ticket will end candidate's work immediately.<br/>
      Are you sure that you want to finish his work?<br/>
    </div>

    <div class='dialog_buttons'>
        <input type="button" value="yes" class='yes' id="ff_yes"/>
        <input type="button" value="no" class='no jqmClose'/>
    </div>
</div>

<div id="forbidden_extend_prompt" style="display:none"  class="jqmWindow" >
    <div class="message">
      The open ticket can not be extended.<br/>
      Please wait until the canndate finishes his work<br/>
      or you may perform 'forced closure'<br/>
    </div>

    <div class='dialog_buttons'>
        <input type="button" value="ok" class='no jqmClose'/>
    </div>
</div>

<div id='msg_task_completed' style='display: none;' class='jqmWindow'>
    <div class='message'><h3>Task has been received. Now you can solve next task.</h3></div>

    <div class='dialog_buttons'>
        <input id="next_task_button" type="button" value="next task" class='jqmClose'/>
    </div>
</div>

<div id='exit_initial_help' style='display: none;' class='jqmWindow'>
    <div class='message'>
        <h3>Exiting this initial help screen<br>
         will load your test and start the timer.<br>
        Are you ready to start?</h3>
    (Clicking 'no' will take you back to the help screen)
    </div>
    <div class='dialog_buttons'>
        <input type="button" value="yes" class='yes' id="exit_intro_yes"/>
        <input type="button" value="no" class='no jqmClose' id="exit_intro_no"/>
    </div>
</div>

<div id='ticket_start_error' style='display: none;' class='jqmWindow'>
    <div class='message'>
        <h3>Error</h3>
        <div class='error-message'>
        </div>
    </div>
</div>

<div id='msg_final_task_completed' style="display: none; max-height: 420px; overflow: auto;" class="jqmWindow">
    <h3 class='message in-demo hide-for-survey' style="display: none;">Your Codility demo session has ended. Thank you!</h3>
    <h3 class='message no-demo hide-for-survey'>Your Codility session has ended. Thank you!</h3>

    <p class="survey-msg hide-for-survey" style="display: none;">
        Your opinion is important to us.
        Please help us provide better service by filling out the survey below (five questions).
        Participation in the survey is voluntary.
        Codility will NOT reveal connection between your answers and your name and/or test ID.
    </p>

    <div class='dialog_buttons'>
        <input type="button" value="continue" class='jqmClose no-survey-continue' id="session_close" style='margin-right: 0;'/>
    </div>

    <div style="height: 20px;" class="hide-for-survey"></div>

    <div class='survey_placeholder'></div>
</div>

<div id='msg_task_closed' class='jqmWindow'>
    <div class='message'><h3>Task closed</h3></div>

    <p>
        Final solution for this task has been submitted.
        You may read the problem statement.
        You may review your solution, but you can't introduce any changes.
    </p>

    <div class='dialog_buttons'>
        <input type='button' value='OK' class='jqmClose'/>
    </div>
</div>

<div id="msg_timeout" style="display: none; max-height: 420px; overflow: auto;" class="jqmWindow" >
    <h3 class='message hide-for-survey'>We are sorry, but the time has run out.</h3>

    <p class="hide-for-survey">
        Your work has been automatically saved and will be evaluated shortly.
    </p>

    <div style="height: 20px;" class="hide-for-survey"></div>

    <p class="survey-msg hide-for-survey" style="display: none;">
        Your opinion is important to us.
        Please help us provide better service by filling out the survey below (five questions).
        Participation in the survey is voluntary.
        Codility will NOT reveal connection between your answers and your name and/or test ID.
    </p>

    <div class='dialog_buttons'>
        <input type="button" value="continue" class='jqmClose no-survey-continue' style='margin-right: 0;'/>
    </div>

    <div style="height: 20px;"></div>

    <div class='survey_placeholder'></div>
</div>

<div id='survey' style='display: none; text-align: left;'>
    <form id='survey_form'>
        <table>
            <tbody>
            <tr>
                <td colspan='12'><b>1. Do you think the Codility test gives a fair assessment of your basic coding skills?</b></td>
            </tr>
            <tr>
                <td class='choice_answer_label_left'>no</td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='1' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='2' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='3' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='4' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='5' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='6' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='7' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='8' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='9' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer1' value='10' /></td>
                <td class='choice_answer_label_right'>yes</td>
            </tr>
            </tbody>
            <tbody class='hidden_part'>
            <tr><td style='height: 5px;'></td></tr>
            <tr>
                <td colspan='12'><b>2. Did you understand the problem descriptions as presented during the test?</b></td>
            </tr>
            <tr>
                <td class='choice_answer_label_left'>didn't understand</td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='1' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='2' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='3' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='4' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='5' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='6' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='7' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='8' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='9' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer2' value='10' /></td>
                <td class='choice_answer_label_right'>understood everything</td>
            </tr>
            <tr><td style='height: 5px;'></td></tr>
            <tr>
                <td colspan='12'><b>3. Did you feel you had enough time to complete the questions?</b></td>
            </tr>
            <tr>
                <td class='choice_answer_label_left'>I didn't have time to finish single task</td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='1' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='2' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='3' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='4' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='5' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='6' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='7' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='8' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='9' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer3' value='10' /></td>
                <td class='choice_answer_label_right'>I had time to do more</td>
            </tr>
            <tr><td style='height: 5px;'></td></tr>
            <tr>
                <td colspan='12'><b>4. How do you rate the Codility environment for ease of use?</b></td>
            </tr>
            <tr>
                <td class='choice_answer_label_left'>impossible to use</td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='1' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='2' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='3' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='4' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='5' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='6' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='7' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='8' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='9' /></td>
                <td class='choice_answer_radio'><input type='radio' name='answer4' value='10' /></td>
                <td class='choice_answer_label_right'>it's great!</td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td colspan='12'><b>5. If you faced serious problems when solving the Codility test please describe them.</b></td>
            </tr>
            <tr>
                <td colspan='12'><textarea name='answer5' style='width: 100%; height: 75px;'></textarea></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div style='height: 10px;'></div>
    <div class='dialog_buttons'>
        <input id="survey_skip_button" type='button' value="skip survey" />
        <input id='survey_continue_button' type='button' value="continue survey" />
        <input id='survey_submit_button' type='button' value="submit survey" style='display: none;' />
    </div>
</div>


</div><!-- #page -->

</body>
</html>
